
<div class="container" style="margin-top: 20px;" >
    <p-table [value]="usuarioLista" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr [ngClass]="{'inActive': usuario.isActive == false}">
                <td>{{usuario.nome}}</td>
                <td>{{usuario.login}}</td>
                <td>
                    <a pButton pRipple type="button" [routerLink]="['/atualizaUsuario',usuario.login]" icon="pi pi-user-edit"
                        class="p-button-rounded"></a>
                    <a pButton pRipple type="button" (click)="remove(usuario.login)" style="margin-left: 5px;"
                        icon="pi pi-trash" class="p-button-rounded"></a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <a [routerLink]="['/adicionaUsuario']" class="btn btn-primary">Novo Usuario</a>
        </ng-template>
    </p-table>
</div>